.navbar{
    width: 100%;
   margin-top: 20px;
    &_wrapper{
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_nav ul{
        display: flex;
        justify-content: space-between;
        gap: 50px;
        position: relative;
        left: -250px;
    }

    &_logo img{
        width: 150px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_nav .link{
        text-decoration: none;
        color: rgb(156, 156, 156);
        font-size: 17px;
        font-weight: 700;
    }

    &_nav .link:hover{
        font-size: 17.2px;
        color: black;
        transition: 0.5s ease-out;
    }

    &_languages{
        width: 50px;
        height: 25px;
        border: none;
        outline: none;
    }

    &_lang{
        border: none;
        outline: none;
    }
}

img{
    width: 200px;
    height: 100px;
}

@media(max-width: 768px){
    .navbar{
        width: 768px;
        &_wrapper{
            width: 80%;
            margin: 0 auto;
        }
        &_nav ul{
            display: none;
        }
    }
}

@media(max-width: 380px) {
    .navbar{
        &_wrapper{
            width: 80%;
            margin: 0 auto;
        }
        &_nav ul{
            display: none;
        }
    }
    img {
      width: 150px;
      height: 75px;
    }
  }
  