.con{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    &_wrapper{
        width: 80%;
        margin: 0 auto;
    }
    &_select{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_btn{
        width: 130px;
        height: 40px;
    }
    &_left{
        font-size: 20px;
        width: 450px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &_left input{
        padding: 10px;
        width: 98%;
        height: 35px;
        border: none;
        outline: none;
        border-radius: 20px;
        background-color: rgb(237, 237, 237);
    }

    textarea{
        resize: none;
        width: 98%;
        height: 251px;
        border: none;
        outline: none;
        background-color:  rgb(237, 237, 237);
        border-radius: 20px;
        padding: 10px;
    }
    &_right iframe{
        width: 600px;
        height: 590px;
        margin-top: 40px;
        margin-left: 160px;
        border-radius: 10px;
        border: none;
    }
    &_contact{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
        margin-top: 80px;
        color: rgb(88, 93, 131);
    }
    &_email{
        display: flex;
        align-items: center;
        gap: 25px;
        background-color:  rgb(237, 237, 237);
        width: 300px;
        height: 80px;
        padding: 0 38px;
        border-radius: 20px;
        font-size: 10px;
    }
    &_email a{
        text-decoration: none;
        font-size: 17px;
        color: rgb(83, 49, 49);
    }
    &_phon{
        display: flex;
        align-items: center;
        gap: 25px;
        background-color:  rgb(237, 237, 237);
        width: 300px;
        height: 80px;
        padding: 0 38px;
        border-radius: 20px;
        font-size: 10px;
    }
    &_phon a{
        text-decoration: none;
        font-size: 17px;
        color: rgb(83, 49, 49);
    }
    &_adres{
        display: flex;
        align-items: center;
        gap: 25px;
        background-color:  rgb(237, 237, 237);
        width: 300px;
        height: 80px;
        padding: 0 38px;
        border-radius: 20px;
        font-size: 10px;
    }
    &_adres a{
        text-decoration: none;
        font-size: 17px;
        color: rgb(83, 49, 49);
    }
}