.product{
    width: 100%;
    text-align: end;
    margin-top: 50px;
    font-family:Arial, Helvetica, sans-serif;
    &_wrapper{
        width: 80%;
        height: 500px;
        margin: 0 auto;
        border-radius: 15px;
        background: rgb(65,65,65);
        background: linear-gradient(90deg, rgba(65,65,65,1) 64%, rgba(106,105,105,1) 100%, rgba(151,167,164,1) 100%, rgba(9,9,121,1) 100%);
        color: rgb(255, 255, 255);
    }

    &_img img{
        width: 1090px;
        height: 700px;
        position: relative;
        left: -150px;
        top: -50px;
        z-index: 99 !important;
    }

    &_title{
        position: relative;
        left: -80px;
        top: -715px;
      z-index: 100;
    }

    &_text1{
        font-weight:900;
      font-size: 50px;
    }
    &_text2{
        font-weight:700;
      font-size: 90px;
      position: relative;
      top: -60px;
    }
    &_text3{
        font-weight:1100;
      font-size: 100px;
      position: relative;
      top: -130px;
    }
}

@media (max-width: 768px){
 .product{
  width: 768px;
  text-align: center;
  &_wrapper{
    width: 80%;
    height: 700px;
    margin: 0 auto;
  }
  &_img img{
    width: 600px;
    height: 350px;
    position: relative;
        left: 15px;
        top: 2px;
        z-index: 99 !important;
  }
  &_title{
    position: relative;
    top: 1px;
    left: 1px;
    z-index: 100;
    color: rgb(245, 241, 241);
  }

  &_text1{
    font-size: 25px;
  }
  &_text2{
      font-weight:700;
    font-size: 65px;
    position: relative;
    top: -60px;
  }
  &_text3{
      font-weight:1100;
    font-size: 100px;
    position: relative;
    top: -130px;
  }
 }
}
 
